* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


.title {
    color: white;
    letter-spacing: 0.8em;
    font-size: 2em; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: bold;
}

#wrapper-background {   
    background-image: url(/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 240);
    flex-direction: column;

    
}
.input {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 50vw;
    align-items: center;
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: 7px 3px 24px -5px rgba(66, 68, 90, 1);
    border-radius: 0.3rem;
    padding: 1em;
}

.task-background {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 50vh;
    width: 50vw;
    box-shadow: 1px 20px 12px 0px rgb(66 68 90);
    justify-content: flex-start;
    border-radius: 0.4em;
}

#addInputBar {
    float: right;
    width: 90%;
    height: 100%;
    list-style: none;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    color: black;
}
#addInputBar:focus {
    outline: none;
    border: none;
}
.btn-nocheck {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 1em;
    border: 1px solid rgb(182, 182, 182);
    cursor: pointer;

}
.add-input {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 1em;
    border: 1px solid rgb(182, 182, 182);
    cursor: pointer;
}
.task-text {
    color: black;
    margin-left: 2em;
    font-size: 1em;
    

}
.task-container {
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgba(85, 85, 85, 0.5);
    padding: 0.7em;
    margin-top: 0.2em;
    position: relative;
    
}
.task-background .buttons {
    display: flex;
    
    align-items: flex-end;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    /* background-color: white; */
    /* border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; */
    padding: 1em;
    height: 100%;
}

.btn-check {
    border: none;
    background: rgb(232,78,231);
    background: linear-gradient(80deg, rgba(232,78,231,1) 0%, rgba(224,80,255,1) 28%, rgba(141,99,249,1) 62%, rgba(50,172,222,1) 100%);
}
.text-check {
    text-decoration: line-through;
    color: grey;
}

.btn-all, 
.btn-active,
.btn-completed,
.btn-clear
 {
    color: grey;
    background-color: white;
    cursor: pointer;
    border: 0px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;

 }

 .btn-all:hover, 
 .btn-active:hover,
 .btn-completed:hover,
 .btn-clear:hover {
    color: black
 }
 .btn-all:focus, 
 .btn-active:focus,
 .btn-completed:focus,
 .btn-clear:focus {
    color: hsl(220, 98%, 61%)
 }
 .close-btn{
    display: none;
 }

 .task-container:hover .close-btn{
    display: block;
    border: 0px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    cursor: pointer;
 }

 .btn-nocheck:hover {
    border-color: rgb(150, 0, 163)
 }
